## What's Next

### Authentication & Authorization

<%= partial("direction/manage/auth/templates/next") %>

### Workspace

<%= partial("direction/manage/workspace/templates/next") %>

### Optimize

<%= partial("direction/manage/value_stream_management/templates/next") %>

### Import

<%= partial("direction/manage/importers/templates/next") %>

#### What we're not doing

<%= partial("direction/manage/importers/templates/not_doing") %>

